<div class="mealview">
  <h1>{{meal.day}}</h1>

  <div class="wrap_div">
    <div>
      <label>Breakfast</label>
      <input type="text" class="text_box" name="breakfast" ng-model="breakfast" placeholder="Breakfast">
    </div>
    <div>
      <label>Lunch</label>
      <input type="text" class="text_box lunch" name="lunch" ng-model="lunch" placeholder="Lunch">
    </div>

    <div>
      <label>Dinner</label>
      <input type="text" class="text_box dinner" name="dinner" ng-model="dinner" placeholder="Dinner">
    </div>

    <div>
      <label>Snacks</label>
      <input type="text" class="text_box snacks" name="snacks" ng-model="snacks" placeholder="Snacks">
    </div>

    <button class="btn" type="button" ng-click="updateMeal()">Update Meal</button>
  </div>
</div>