<div class="meal">
  <h1>Monday</h1>
  <div>
    <label>Breakfast</label>
    <input type="text" name="breakfast" ng-model="breakfast" placeholder="Breakfast">
  </div>
  <div>
    <label>Lunch</label>
    <input type="text" name="lunch" ng-model="lunch" placeholder="Lunch">
  </div>

  <div>
    <label>Dinner</label>
    <input type="text" name="dinner" ng-model="dinner" placeholder="Dinner">
  </div>

  <div>
    <label>Snacks</label>
    <input type="text" name="snacks" ng-model="snacks" placeholder="Snacks">
  </div>

<button type="button" ng-click="createMeal()">Add Meal</button>
</div>
